<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--  Bootstrap -->
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/all.min.css" />
    <!--custom_css-->
    <link rel="stylesheet" asp-href-include="/custom/css/custom.css" />

</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <h1><a class="navbar-brand fs-2" asp-controller="Home" asp-action="Index">LeGaCy</a></h1>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#MyNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="MyNavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Projects">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
